<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- null값을 저장할 수있도록 허용 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
</configuration>